* {
  font-family: Avram, sans-serif;
  color: #4c3017;
}

body {
  font-family: Avram, sans-serif;
  color: #4c3017;
}

#header1 {
  width: 100%;
  height: 70px;
  background-color: #d54110;
  padding: 0px 100px;
  margin-left: -10px;
  margin-top: -10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#enableweb {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  margin-left: 1150px;
  margin-top: 8px;
}

.logo img {
  width: 215px;
  height: 40px;
  margin-top: 40px;
  margin-left: 665px;
}

#spans {
  border: 1px solid #094ef1;
  display: flex;
  flex-direction: row;
  width: 60em;
  padding-top: 0.5em;
  color: #4A3019;
  font-family: "proxima-nova", sans-serif;
  font-size: 1.05em;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  margin-left: 10em;
  margin-top: 20px;
}

#plasticgift {
  border: 1px solid #000000;
  width: 14em;
  margin-right: 4em;
  /* Increased margin */
  height: 1em;
  text-decoration: none;
}

#egift {
  border: 1px solid #000000;
  width: 11em;
  margin-right: 4em;
  /* Increased margin */
  height: 1em;
  text-decoration: none;
}

#home1 {
  border: 1px solid #000000;
  width: 3em;
  margin-right: 4em;
  /* Increased margin */
  height: 1em;
  text-decoration: none;

}

#francais1 {
  border: 1px solid #000000;
  text-decoration: none;
  height: 1em;
  width: 5.5em;
  margin-right: 4em;
  /* Increased margin */
}
.bannerlogo{
  margin-left: 60px;
  margin-top: 40px;
}