* {
  font-family: Avram, sans-serif;
  /* color: #4c3017; */
}

body {
  font-family: Avram, sans-serif;
  /* color: #4c3017; */
}

.logo img {
  width: 12em;
  height: 2.4em;
  margin-right: 150px;

}

.logo img:hover {
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#francais {
  margin-left: 120em;
  margin-bottom: 0.5em;
  font-size: 0.78em;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  color: #48311b;

}

#francais:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*-----------------top milieu--------------------*/
#topmilieu {
  color: #4c3017; 
  display: flex;
  flex-direction: row;
  width: 95em;
  height: 4em;
}

#spans {
  color: #4c3017; 
  display: flex;
  flex-direction: row;
  width: 25em;
  font-weight: 799;
  padding-top: 0.5em;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.25em;

}

#spanclub {
  color: #4c3017; 
  width: 6em;
  margin-right: 1em;
  height: 1em;
  text-decoration: none;
}

#spangift {
  color: #4c3017; 
  width: 6.52em;
  margin-right: 1em;
  height: 1em;
  text-decoration: none;
}

#spangroup {
  color: #4c3017; 
  width: 10em;
  margin-right: 1em;
  height: 1em;
  text-decoration: none;
}

#divbtn {
  display: flex;
  flex-direction: row;
  color: #4c3017; 
}

#AddCoupon {
  text-align: center;
  border: 1px solid #000000;
  background-color: white;
  width: 10em;
  height: 2em;
  padding: 0.7em 0.5em;
  border-radius: 0.5em;
  font-family: Avram, sans-serif;
  color: #4c3017;
  margin-right: 1em;
  margin-top: 0.2em;
  margin-bottom: 1.5em;
  font-weight: 800;
}

#AddCoupon:hover {

  background-color:
    #d84414;
  color: white;
  cursor: pointer;
}

.btn-group {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 110px;
}

#totalsignin {
  color: #4c3017; 
  display: flex;
  flex-direction: row;

  height: 40px;
  margin-left: 20px;
}

.material-icons {
  font-size: 2.5em;
  color: #d54110;
}

.material-icons.home {
  font-size: 2.5em;
  color: #d54110;
  text-decoration: none;
}

#btn-address {
  color: #4c3017; 
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 160px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.78em;
  padding: 5px;

}

#totaldelivery {
  color: #4c3017; 
  display: flex;
  flex-direction: row;

  height: 40px;
  margin-left: 20px;
}

#address {
  font-weight: 800;
  text-decoration: none;
  word-spacing: 10px;
  color: #4c3017; 
}


#signin {
  font-size: 0.78em;
  text-decoration: none;
  font-weight: 800;
  background-color: white;
  border: none;
  color: #4c3017; 
}

#createaccount {
  color: #4c3017; 
  width: 12em;
  text-decoration: none;
  font-size: 0.9em;
  background-color: white;
  border: none;
}

#signin,
#createaccount,
#address,
#cellnumber:hover {
  cursor: pointer;

}
#cellnumer{
  color: #4c3017; 
}
/*------------------fin topmilieu -------------------------*/

/* Code pour le bas  */
* {
  font-family: Avram, sans-serif;
  /* color: #4c3017; */
}

body {
  margin: 0;

}

/*  */
#ImagesClubTop {
  margin-top: 2em;
  width: 100%;
  height: auto; /*  */
}

#ImagesClubMillieu{
  width: 100%;
  height: auto; /*  */
}

/*  */

#red{
  /* color: red; */
  color: transparent;
}
#whitetext{
  font-size: large;
  font-weight: bold;

  background-color: transparent;
}
.BtnHome{
  position: absolute;
  top: 6.5em;;
  left: 6.5em;
  margin: 20px; /* Adjust the margin as needed */
  color: transparent; 
  background-color: transparent;
  border: none;
cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
}
.BtnRegister, .BtnSignIn{
  position: absolute;
  top: 11.5em;;
  left: 32em;
  margin: 20px; /* Adjust the margin as needed */
  border: none;
  font-size: 1.5em;
  font-weight: bold;
  width: 8.2em;
  height: 2.2em;
  border-radius: 6%;
  cursor: pointer;
}
.BtnRegister{
   margin-left: 5.1em;
  background-color: white;
   color: #2f1818;
}
.BtnSignIn{
  color: white;
  margin-left: 15em;
background-color:  #d54110;
}
#MenuTitle{
  font-size: large;
  font-weight: bold;
  color: #2f1818;
}
/*  */

#Bbottom{
  display: flex;
  flex-direction: row;
}
#Bbottom1{
  padding-bottom: 5em;
}
#Bottom{
  text-align: center;
}




footer img{
  width: 100vw;
  height: auto;
}

#blackmsgbox {
  background-color: black;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  height: 75px;
  margin: 0 auto;
}

#msgmenu {
  text-align: left;
  margin-left: 15px;

}

#findlocal {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 10px;
  height: 40px;
  width: 110px;
  margin-left: 20px;
  padding: 5px;
  transition: background-color 0.3s;
}

#blackmsgbox p {
  color: white;
}

#pfind {
  margin-left: 5px;
}

#findlocal:hover {
  cursor: pointer;
  background-color: white;
  /* Change background color to white on hover */
}

#findlocal:hover #pfind {
  color: black;
}

#findlocal:hover .material-icons {
  color: black;
  border: 2px solid black;
}

.material-icons.near_me {
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 10px;
  width: 18px;
  height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 9px;
}
.BtnHome{
  position: absolute;
  top: 6.5em;;
  left: 6.5em;
  margin: 20px; /* Adjust the margin as needed */
  color: transparent; 
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
}

/*  Quick order partie */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.item-container {
  margin-left: 3em;
  margin: 2em;
  margin-top: 3em;
  width: 50%;
  /* margin: 0 auto; */
  border: 1px solid #ccc;
  padding: 20px;
}

.item-image {
  
  width: 30%;
  float: left;
  margin-right: 20px;
}

.item-details {
  margin-right: 3em;
  overflow: hidden;
}

.item-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.item-description {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.item-price {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.item-actions {
  margin-left: 20em;
  float: left;
  margin-top: 10px;
}

.quick-add {
  background-color:  #d54110;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  margin-right: 10px;
}
.item-image img{
  margin-bottom: 0.5em;
  height: 13em;
  width: 15em;
}
.quantity {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.quantity button {
  background-color: #ccc;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
}

.quantity label {
  margin: 0 10px;
  font-size: 16px;
}