 * {
   font-family: Avram, sans-serif;
   color: #4c3017;
 }

 body {
   font-family: Avram, sans-serif;
   color: #4c3017;
 }

 .logo img {
   width: 185px;
   height: 30px;
 }


 #francais {
   margin-left: 80em;
   color: black;
 }

 #francais:hover {
   text-decoration: underline;
   cursor: pointer;
 }

 /*-----------------top milieu--------------------*/
 #topmilieu {
   display: flex;
   flex-direction: row;
   margin-left: 8em;
   width: 50em;
   margin-bottom: 2em;
 }

 #spans {
   display: flex;
   flex-direction: row;
   width: 30em;
   font-weight: 799;
   text-transform: uppercase;
   text-decoration: none;
   font-size: 1.25em;
 }

 #spanclub,
 #spangroup,
 #spangift {
   margin-right: 1.25em;
 }

 #divbtn {
   display: flex;
   flex-direction: row;

 }

 #AddCoupon {
   text-align: center;
   border: 1px solid #000000;
   background-color: white;
   width: 16em;
   height: 2em;
   padding-left: 0.5em;
   padding-top: 0.7em;
    padding-right: 0.5em;
   border-radius: 0.5em;
   color: #4c3017;
   margin-right: 2em;
 }

 #AddCoupon:hover {
   background-color:
     #d84414;
   color: white;
   cursor: pointer;
 }

 .btn-group {
   display: flex;
   flex-direction: column;
   margin-left: 40em;
 }

 #signin,
 #createaccount {
   background-color: white;
   border: none;

 }

 #signin,
 #createaccount:hover {
   cursor: pointer;

 }

 /*------------------fin topmilieu -------------------------*/
 /* Sequoya pas fini touche pas */
.imageTopff,
 .item-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

 .item-Afficher {
   margin: 10px;
   padding: 10px;
   border: 1px solid #ccc;
   width: 20em;
   height: 6em;
 }

 .nom-prix-bouton {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
 }

 .cart-h4 {
   margin: 0;
 }

 .AjouterAuPanier {
   background-color: #4CAF50;
   /* vert */
   border: none;
   color: white;
   padding: 8px 16px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
 }

 .items-container {
   width: 80%;
   height: 30em;
   background-color: #b4b4ee;
 }