* {
  font-family: Avram, sans-serif;
  color: #4c3017;
}

body {
  font-family: Avram, sans-serif;
  color: #4c3017;
}

.logo img {
  width: 12em;
  height: 2.4em;
  margin-right: 150px;
}
#Coter{
  display: flex;
  flex-direction: row;
}
.logo img:hover {
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#francais {
  margin-left: 120em;
  margin-bottom: 0.5em;
  font-size: 0.78em;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  color: #48311b;

}

#francais:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*-----------------top milieu--------------------*/
#topmilieu {
  display: flex;
  flex-direction: row;
  width: 95em;
  height: 4em;
}

#spans {
  display: flex;
  flex-direction: row;
  width: 25em;
  font-weight: 799;
  padding-top: 0.5em;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.25em;

}

#spanclub {

  width: 6em;
  margin-right: 1em;
  height: 1em;
  text-decoration: none;
}

#spangift {

  width: 6.52em;
  margin-right: 1em;
  height: 1em;
  text-decoration: none;
}

#spangroup {

  width: 10em;
  margin-right: 1em;
  height: 1em;
  text-decoration: none;
}

#divbtn {
  display: flex;
  flex-direction: row;

}

#AddCoupon {
  text-align: center;
  border: 1px solid #000000;
  background-color: white;
  width: 10em;
  height: 2.5em;
  padding: 0.6em;
  border-radius: 0.5em;
  font-family: Avram, sans-serif;
  color: #4c3017;
  margin-right: 1em;
  margin-top: 0.2em;
  margin-bottom: 1.5em;
  font-weight: 700;
}

#AddCoupon:hover {
  background-color:
    #d84414;
  color: white;
  cursor: pointer;
}

.btn-group {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 110px;
}

#totalsignin {
  display: flex;
  flex-direction: row;

  height: 40px;
  margin-left: 20px;
}

.material-icons {
  font-size: 2.5em;
  color: #d54110;
}

.material-icons.home {
  font-size: 2.5em;
  color: #d54110;
  text-decoration: none;
}

#btn-address {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 160px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.78em;
  padding: 5px;

}

#totaldelivery {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin-left: 20px;
}

#address {
  font-weight: 800;
  text-decoration: none;
  word-spacing: 10px;

}


#signin {
  font-size: 0.78em;
  text-decoration: none;
  font-weight: 800;
  background-color: white;
  border: none;

}

#createaccount {
  width: 12em;
  text-decoration: none;
  font-size: 0.9em;
  background-color: white;
  border: none;
}

#signin,
#createaccount,
#address,
#cellnumber:hover {
  cursor: pointer;

}

/*------------------fin topmilieu -------------------------*/

#hspecial {
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #48311b;
  font-size: 1.5em;
}

#blackmsgbox {
  background-color: black;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  height: 75px;
  margin: 0 auto;
}

#msgmenu {
  text-align: left;
  margin-left: 15px;

}

#findlocal {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 10px;
  height: 40px;
  width: 110px;
  margin-left: 20px;
  padding: 5px;
  transition: background-color 0.3s;
}

#blackmsgbox p {
  color: white;
}

#pfind {
  margin-left: 5px;
}

#findlocal:hover {
  cursor: pointer;
  background-color: white;
  /* Change background color to white on hover */
}

#findlocal:hover #pfind {
  color: black;
}

#findlocal:hover .material-icons {
  color: black;
  border: 2px solid black;
}

.material-icons.near_me {
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 10px;
  width: 18px;
  height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 9px;
}

/* ****************************Debut du code css pour le slideshow  ***************/
* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {

  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -3px;
  padding: 16px;
  color: transparent;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev{
  margin-top: 1em;
  margin-left: 1em;
}
/* Position the "next button" to the right */
.next {
  margin-top: 1em;
  margin-right: 1em;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  /* background-color: rgba(0, 0, 0, 0.8); */
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 0.3em;
  width: 3em;
  margin: 0 0.3emx;
  background-color:#ded4d4;
  border-radius: 0%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #d54110;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/*  Fin du code css pour le slideshow */


/* Css pour le menu images  */
/* Sequoya pas fini touche pas */
.imageTopff,
.item-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.item-Afficher {
  left: 10em;
  right: 10em;
  /* margin: 10px;
   padding: 10px;
   border: 1px solid #ccc;
   width: 15em;
   height: 20em;
    border-radius: 2em; */
}

.card-img-top {
  margin: 1px;
  /* padding: 10px; */
  /* border: 1px solid #ccc; */
  width: Auto;
  height: Auto;
  /* border-radius: 2em; */
}

.nom-prix-bouton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cart-h4 {
  margin: 0;
}

.AjouterAuPanier {
  background-color: #4CAF50;
  /* vert */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.items-container {
  margin-left: 10em;
  margin-right: auto; 
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
 justify-content: center;
}

.item-Afficher {
  display: inline-block;

  vertical-align: top;
  margin-right: 20px;

}


.BtnAjouter {
  height: auto;
  cursor: pointer;
}

/* Fin du code pour les menuImages  */

#ImageFooter img{
  width: 100%;
  height: auto;
}

#ImageFooter2 img{
  margin-left: auto;
  margin-right: auto;
}

.BtnP{
  background-color: black;
  color: transparent;
  height: 10em;
  width: 10em;
}

